.footer {
    /* background-color: #817020; */
    /* background-color: rgb(113, 86, 24); */
    background-color: rgb(139, 105, 17);
    Padding: 15px;
    float: inline-end;
}

.mainText {
    margin: 15px 25vw;
    /* background-color: blue; */
}