.storeContainer {
    display: grid;
    grid-template-rows: 6fr 1fr;
    border: 1px solid black;
    margin: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    /* background-color: rgba(44, 53, 50, 0.466); */
    /* background-color: #444033b9; */
    background-color: rgba(197, 151, 45, 0.89);
    /* background-color: rgba(0, 255, 255, 0.623); */
    box-shadow: 10px 10px 30px -7px rgba(0,0,0,0.75);
    /* color: whitesmoke; */
}

.storeUpper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    box-sizing: inherit
}

.storeRight {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    box-sizing: inherit;
}

.storeHeading {
    font-weight: 500;
    display: block;
}

.storeContent {
    box-sizing: inherit;
    display: block;
    text-align: justify;
}

.storeLeft {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeImg {
    height: 200px;
    border-radius: 10px;
}

.storeLower {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 20px;
}

span {
    padding: 0%;
    margin: 0%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}